<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Breakout Game</title>
    <script type="module" crossorigin src="/assets/breakout-hJe3sQog.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/t-CrUv5W6q.js">
    <link rel="modulepreload" crossorigin href="/assets/themeService-BRbIHoCx.js">
    <link rel="modulepreload" crossorigin href="/assets/ThemeProvider-DbuMqxgg.js">
    <link rel="modulepreload" crossorigin href="/assets/AppProvider-D79tH7k7.js">
    <link rel="modulepreload" crossorigin href="/assets/GameUtilityHeader-D92fRvwT.js">
    <link rel="modulepreload" crossorigin href="/assets/GameOverlay-CNjK3cvt.js">
    <link rel="modulepreload" crossorigin href="/assets/GameStartCard-BJ6dYja8.js">
    <link rel="modulepreload" crossorigin href="/assets/BreakoutGame-DPTUnEIf.js">
    <link rel="stylesheet" crossorigin href="/assets/BreakoutGame-CNq3B0TY.css">
    <link rel="stylesheet" crossorigin href="/assets/GameUtilityHeader-Bgo1SuCs.css">
    <link rel="stylesheet" crossorigin href="/assets/ThemeProvider-Bdb9efQv.css">
    <link rel="stylesheet" crossorigin href="/assets/GameOverlay-OgDJTOX7.css">
  </head>
  <body>
    <div id="breakout-root"></div>
  </body>
</html>
