<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wordle</title>
    <script type="module" crossorigin src="/assets/wordle-BJ5cfMYw.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/t-CrUv5W6q.js">
    <link rel="modulepreload" crossorigin href="/assets/storage-BPEiTgs3.js">
    <link rel="modulepreload" crossorigin href="/assets/WordleGame-D35NF7ec.js">
    <link rel="stylesheet" crossorigin href="/assets/WordleGame-D_PJkoy5.css">
  </head>
  <body>
    <div id="wordle-root"></div>
  </body>
</html>
