<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2048 Game</title>
    <script type="module" crossorigin src="/assets/game2048-Djr1R_7p.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/t-CrUv5W6q.js">
    <link rel="modulepreload" crossorigin href="/assets/themeService-BRbIHoCx.js">
    <link rel="modulepreload" crossorigin href="/assets/ThemeProvider-DbuMqxgg.js">
    <link rel="modulepreload" crossorigin href="/assets/GameOverlay-CNjK3cvt.js">
    <link rel="modulepreload" crossorigin href="/assets/Game2048-Bh3HCagN.js">
    <link rel="stylesheet" crossorigin href="/assets/GameOverlay-OgDJTOX7.css">
    <link rel="stylesheet" crossorigin href="/assets/Game2048-Dt-QVq5q.css">
    <link rel="stylesheet" crossorigin href="/assets/ThemeProvider-Bdb9efQv.css">
  </head>
  <body>
    <div id="game2048-root"></div>
  </body>
</html>
